h1 {
  font-family: "Water Brush", cursive;
  color: #ffffff;
  font-size: 100px;
  text-align: center;
  text-shadow: 2px 2px 7px #751a2f, 3px 3px 8px #751a2f, 4px 4px 9px #751a2f;
  margin: 10px;
}

nav {
  background-color: #ffffff;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 10px 35px;
  font-family: "Fredericka the Great", cursive;
  font-size: 25px;
}

nav a {
  color: #a80023;
  text-decoration: none;
  padding: inherit;
}

nav a:hover {
  background-color: #a80023;
  color: #ffffff;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: inherit;
  font-family: "Fredericka the Great", cursive;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
}
