body {
  background-color: #ec0f34;
  font-family: "Comic Neue", cursive;
  margin: 0;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 100px;
}

.box {
  position: relative;
  height: 340px;
  width: 340px;
  font-size: 22px;
  text-align: center;
  box-shadow: 5px 5px 5px #751a2f, 6px 6px 6px #751a2f, 7px 7px 7px #751a2f;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*height: 100%;
  width: 100%;*/
  opacity: 0;
  transition: 0.4s ease;
  background-color: #dafd81;
}

.box:hover .overlay {
  opacity: 1;
}

/*img {
  display: block;
  width: 100%;
  height: auto;
}*/

.text h2 {
  font-family: "Fredericka the Great", cursive;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  color: #008a73;
}

.text p {
  line-height: 1.4em;
  color: #008a73;
  font-size: 20px;
  padding: 10px;
}

.page-index .link-index a,
.page-rezepte .link-rezepte a,
.page-vorrat .link-vorrat a,
.page-tee .link-tee a,
.page-bib .link-bib a {
  background-color: #dafd81;
  color: #008a73;
}
